spring:
  application:
    name: cards
  datasource:
    url: jdbc:h2:mem:cardsDb
    username: hamedmiri72
    password: hamedmiri72
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: h2
    database-platform: org.hibernate.dialect.H2Dialect
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:8071"
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"


server:
  port: 9092

management:
  endpoints:
    web:
      exposure:
        include: "*"
