#spring:
#  application:
#    name: loans
#  datasource:
#    url: jdbc:h2:mem:loansDb
#    username: hamedmiri72
#    password: hamedmiri72
#    driver-class-name: org.h2.Driver
#  h2:
#    console:
#      enabled: true
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#    database: h2
#    database-platform: org.hibernate.dialect.H2Dialect
#  profiles:
#    active: "prod"
#  config:
#    import: "optional:configserver:http://localhost:8071"
#  rabbitmq:
#    host: "localhost"
#    port: 5672
#    username: "guest"
#    password: "guest"

spring:
  application:
    name: loans
  datasource:
    url: jdbc:mysql://localhost:3308/loansdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    sql:
      init:
        mode: always
    database-platform: org.hibernate.dialect.MySQLDialect
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:8071"
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
server:
  port: 9091


management:
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
  endpoint:
    shutdown:
      enabled: true



eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: "http://localhost:8070/eureka/"

info:
  app:
    name: "loans"
    description: "loans microservice to manage loans"
    version: "V1.0.0"