spring:
  application:
    name: accounts
  datasource:
    url: jdbc:h2:mem:testdb
    username: hamedmiri72
    password: hamedmiri72
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    database: h2
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:8071"
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

server:
  port: 9090

management:
  endpoints:
    web:
      exposure:
        include: "*"
