spring:
  application:
    name: accounts
  data:
  datasource:
    url: jdbc:h2:mem:testdb
    username: hamedmiri72
    password: hamedmiri72
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    database: h2
server:
  port: 9090

build:
  version: "V1.0"

